apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: geth-data-pvc
  namespace: eth-nodes
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  storageClassName: local-path