apiVersion: v1
kind: Service
metadata:
  name: geth-service
  namespace: eth-nodes
  labels:
    app: geth
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "6060"
spec:
  type: NodePort
  selector:
    app: geth
  ports:
  - name: http-rpc
    port: 8545
    targetPort: 8545
    nodePort: 30545
    protocol: TCP
  - name: ws-rpc
    port: 8546
    targetPort: 8546
    nodePort: 30546
    protocol: TCP
  - name: metrics
    port: 6060
    targetPort: 6060
    protocol: TCP
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP