apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bitcoin-data-pvc
  namespace: btc-nodes
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: local-path