apiVersion: v1
kind: Service
metadata:
  name: bitcoin-service
  namespace: btc-nodes
  labels:
    app: bitcoin
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9332"
spec:
  type: NodePort
  selector:
    app: bitcoin
  ports:
  - name: rpc
    port: 18332
    targetPort: 18332
    nodePort: 30332
    protocol: TCP
  - name: p2p
    port: 18333
    targetPort: 18333
    nodePort: 30333
    protocol: TCP
  - name: metrics
    port: 9332
    targetPort: 9332
    protocol: TCP