apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: bitcoin-metrics
  namespace: btc-nodes
  labels:
    app: bitcoin
    release: prometheus
spec:
  selector:
    matchLabels:
      app: bitcoin
  endpoints:
  - port: metrics
    interval: 30s
    path: /metrics